
.container {
   
    background-image: url("../../../images/city/cityoverview/test2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    text-align: center;
    margin: auto;
    max-height: 100%;

}

.btn {
}


.smallimage {
    height: 16em;
    width: 16em;
    opacity: 90%;
    margin: 10%;
    margin: 5%;
    position:relative;
    border-radius: 1000%;
    background-color: goldenrod;
}

img:hover {
    opacity: 100%;
    background-color: white;
    transition: opacity 0.5s ease;
}
