<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name=”viewport” content="width=device-width, initial-scale=1.0">
        <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
        <title>Town</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" href="../../../images/cicada.png">
        <link rel="stylesheet" type="text/css" href="../city/city.css">
    </head>
    <body>
        <div class="backgroundcontainer">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6 attribute">
                        <img class="center btn smallimage" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/city/bar/test.jpg">
                    </div> 
                    <div class="col-sm-6 attribute">
                        <img class="center btn smallimage" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/city/blacksmith/test.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 attribute">
                        <img class="center btn smallimage" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/city/arcanist/test.jpg">
                    </div> 
                    <div class="col-sm-6 attribute">
                        <img class="center btn smallimage" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/city/MadScientist/test.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 attribute">
                        <img class="center btn smallimage" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/city/market/test.jpg">
                    </div> 

                    <div class="col-sm-6 attribute">
                        <img class="center btn smallimage" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/city/graveyard/test.jpg">
                    </div>
                </div>

            </div>
        </div>




    </body>
</html>