<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

		<link rel="stylesheet" type="text/css" href="viewer.css">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>bootstrap card gallery</title>

  </head>
  <body>
  	   	<div class="heading">
	   		<h2 href="about.html">Image draft</h2>
		</div>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="#"> <i class="fas fa-paint-brush"></i></a>

				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				      </li>
				    </ul>
				  </div>
			</nav>
		</div>


  	<div class="box">
				<section class="gallery-block cards-gallery">
					<div class="container">
						<div class="row" id="raderna">
						</div>
					</div>
				</section>
			</div>
							

		<script>

			var path = "images/c (";

			for (var i = 928 - 1; i >= 0; i--) {
				SpawnStuff(i);
				console.log(i);
			}


			function SpawnStuff(num) {
				var raderna = document.getElementById("raderna");
				var thing = document.createElement("div");
				thing.className = "col-lg-6";
				raderna.appendChild(thing);

				var glow = document.createElement("div");
				glow.className = "border-0 transform-on-hover";
				thing.appendChild(glow);
			
				var lightbox =  document.createElement("a");
				lightbox.className = "lightbox";
				lightbox.href = path + num + ".png";
				glow.appendChild(lightbox);

				var image = document.createElement("img");
				image.src = path + num + ").png";
				image.style.height = 200;
				image.style.width = 200;
				
				glow.appendChild(image);

				var thetext = document.createElement("div");
				var header = document.createElement("h6");
				header.innerText = num.toString();
				thetext.appendChild(header);
				glow.appendChild(thetext);
			}


		</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
	      baguetteBox.run('.cards-gallery', {animation: 'slideIn'});
	  </script>
    
  </body>
</html>
