<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="creature.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="card edgeGlow container">
                <div class="container">
                        <div class="row nonecentralrow">
                            <div class="col-sm-2">
                                <h1>7</h1>
                            </div>
                            <div class="col-sm-10"></div>
                        </div>
                    </div>
                <div class="container">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-2">
                                    <h4>Emoboiiii</h4>
                            </div>
                            <div class="col-sm-2">
                                    <h4>Level: 7</h4>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                <div class="container">
                        <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <img class="edgeGlow gearpiece" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/helm.png">
                                </div>
                                <div class="col-sm-4"></div>
                        </div>
                               
                        <div class="row">
                            <div class="col-sm-4">
                                    <div class="row">
                                            <img class="edgeGlow gearpiece" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/mainhand.png">
                                    </div>
                                    <div class="row">
                                            <img class="edgeGlow gearpiece" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/offhand.png">
                                    </div>
                            </div> 
                            
                            <div class="col-sm-4">
                                    <img class="edgeGlow" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/tiers/epic/abyssal/c (9).png">
                            </div>
                            <div class="col-sm-4">
                                    <div class="row">
                                        <img class="edgeGlow gearpiece" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/chest.png">
                                    </div>
                                    <div class="row">
                                        <img class="edgeGlow gearpiece" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/legs.png">
                                    </div>
                                    <div class="row">
                                        <img class="edgeGlow gearpiece" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/boots.png">
                                    </div>
                            </div>
                        </div>
                    </div>     
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-2">
                                    <h4>Dark</h4>
                            </div>
                            <div class="col-sm-2">
                                    <h4>Fighter</h4>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>

        <div class="container">
                <div class="row">
                    <div class="col-sm-3 attribute" id="damage">
                        <h4>Damage</h4>
                        <img class="center" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/damage.png">
                        <h4>6</h4>
                    </div> 
                    <div class="col-sm-3 attribute" id="accuracy">
                        <h4>Accuracy</h4>
                        <img class="center" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/accuracy.png">
                        <h4>6</h4>
                    </div>
                    <div class="col-sm-3 attribute" id="evasion">
                        <h4>Evasion</h4>
                        <img class="center" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/evasion.png">
                        <h4>4</h4>
                    </div>
                    <div class="col-sm-3 attribute" id="health">
                        <h4>Health</h4>
                        <img class="center" src="/users/Jacob/Documents/Programming/CicadaGames/FrontEnd/src/images/sample/health.png">
                        <h4>8</h4>
                    </div>
                </div>
            </div>     
    
            </div>
        </div>
    </body>
</html>