<!DOCTYPE html>
<html>
<head>

<meta charset=utf-8 />
<title>Character Selection</title>
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">

<!-- CSS Stylesheet -->
<link rel="stylesheet" href="characterSelection.css">

<!-- Tabletop.Js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>

<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

</head>
<body>

    <DIV class="titleName" style="position: absolute; top:90px; left:750px;">
    </DIV>

        <table id="tableCharacters" width="500">
            <thead>
                <th class="thclass" colspan="3">
                    <p>Character Selection</p>
                </th>
            </thead>

            <tbody class="firstTable">
                
            </tbody>            
        </table>

        <div class="imageDisplay">
            <img class="image1" src="characterImages/common_aby_assassin.png" alt="">
            <img class="image1" src="characterImages/common_aby_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_aby_mage.png" alt="">
            <img class="image1" src="characterImages/common_aby_tank.png" alt="">
            <img class="image1" src="characterImages/common_arc_assassin.png" alt="">
            <img class="image1" src="characterImages/common_arc_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_arc_mage.png" alt="">
            <img class="image1" src="characterImages/common_arc_tank.png" alt="">
            <img class="image1" src="characterImages/common_con_assassin.png" alt="">
            <img class="image1" src="characterImages/common_con_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_con_mage.png" alt="">
            <img class="image1" src="characterImages/common_con_tank.png" alt="">
            <img class="image1" src="characterImages/common_cos_assassin.png" alt="">
            <img class="image1" src="characterImages/common_cos_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_cos_mage.png" alt="">
            <img class="image1" src="characterImages/common_cos_tank.png" alt="">
            <img class="image1" src="characterImages/common_div_assassin.png" alt="">
            <img class="image1" src="characterImages/common_div_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_div_mage.png" alt="">
            <img class="image1" src="characterImages/common_div_tank.png" alt="">
            <img class="image1" src="characterImages/common_earth_assassin.png" alt="">
            <img class="image1" src="characterImages/common_earth_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_earth_mage.png" alt="">
            <img class="image1" src="characterImages/common_fire_assassin.png" alt="">
            <img class="image1" src="characterImages/common_fire_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_fire_mage.png" alt="">
            <img class="image1" src="characterImages/common_fire_tank.png" alt="">
            <img class="image1" src="characterImages/common_light_assassin.png" alt="">
            <img class="image1" src="characterImages/common_light_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_light_mage.png" alt="">
            <img class="image1" src="characterImages/common_light_tank.png" alt="">
            <img class="image1" src="characterImages/common_neutral_assassin_1.png" alt="">
            <img class="image1" src="characterImages/common_neutral_assassin_2.png" alt="">
            <img class="image1" src="characterImages/common_neutral_bruiser_1.png" alt="">
            <img class="image1" src="characterImages/common_neutral_bruiser_2.png" alt="">
            <img class="image1" src="characterImages/common_neutral_mage_1.png" alt="">
            <img class="image1" src="characterImages/common_neutral_mage_2.png" alt="">
            <img class="image1" src="characterImages/common_neutral_tank_1.png" alt="">
            <img class="image1" src="characterImages/common_neutral_tank_2.png" alt="">
            <img class="image1" src="characterImages/common_water_assassin.png" alt="">
            <img class="image1" src="characterImages/common_water_bruiser.png" alt="">
            <img class="image1" src="characterImages/common_water_mage.png" alt="">
            <img class="image1" src="characterImages/common_water_tank.png" alt="">
            <img class="image1" src="characterImages/e_aby_tank.png" alt="">
            <img class="image1" src="characterImages/e_arc_mage.png" alt="">
            <img class="image1" src="characterImages/e_cos_bruiser.png" alt="">
            <img class="image1" src="characterImages/e_div_bruiser.png" alt="">
            <img class="image1" src="characterImages/e_earth_assassin.png" alt="">
            <img class="image1" src="characterImages/e_fire_mage.png" alt="">
            <img class="image1" src="characterImages/e_light_assassin.png" alt="">
            <img class="image1" src="characterImages/e_neutral_tank.png" alt="">
            <img class="image1" src="characterImages/e_water_bruiser.png" alt="">
            <img class="image1" src="characterImages/m_abyss_assassin.png" alt="">
            <img class="image1" src="characterImages/m_arc_assassin.png" alt="">
            <img class="image1" src="characterImages/m_con_bruiser.png" alt="">
            <img class="image1" src="characterImages/m_cos_tank.png" alt="">
            <img class="image1" src="characterImages/m_div_tank.png" alt="">
            <img class="image1" src="characterImages/m_earth_tank.png" alt="">
            <img class="image1" src="characterImages/m_fire_bruiser.png" alt="">
            <img class="image1" src="characterImages/m_light_bruiser.png" alt="">
            <img class="image1" src="characterImages/m_neutral_mage.png" alt="">
            <img class="image1" src="characterImages/m_water_mage.png" alt="">
            <img class="image1" src="characterImages/rare_aby_bruiser.png" alt="">
            <img class="image1" src="characterImages/rare_arc_bruiser.png" alt="">
            <img class="image1" src="characterImages/rare_con_mage.png" alt="">
            <img class="image1" src="characterImages/rare_cos_mage.png" alt="">
            <img class="image1" src="characterImages/rare_div_mage.png" alt="">
            <img class="image1" src="characterImages/rare_earth_mage.png" alt="">
            <img class="image1" src="characterImages/rare_fire_tank.png" alt="">
            <img class="image1" src="characterImages/rare_light_assassin.png" alt="">
            <img class="image1" src="characterImages/rare_neutral_bruiser.png" alt="">
            <img class="image1" src="characterImages/rare_neutral_tank.png" alt="">
            <img class="image1" src="characterImages/rare_water_tank.png" alt="">
            <img class="image1" src="characterImages/un_aby_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_aby_mage.png" alt="">
            <img class="image1" src="characterImages/un_aby_tank.png" alt="">
            <img class="image1" src="characterImages/un_arc_assassin.png" alt="">
            <img class="image1" src="characterImages/un_arc_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_arc_mage.png" alt="">
            <img class="image1" src="characterImages/un_con_assassin.png" alt="">
            <img class="image1" src="characterImages/un_con_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_con_tank.png" alt="">
            <img class="image1" src="characterImages/un_cos_assassin.png" alt="">
            <img class="image1" src="characterImages/un_cos_mage.png" alt="">
            <img class="image1" src="characterImages/un_cos_tank.png" alt="">
            <img class="image1" src="characterImages/un_div_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_div_mage.png" alt="">
            <img class="image1" src="characterImages/un_div_tank.png" alt="">
            <img class="image1" src="characterImages/un_earth_assassin.png" alt="">
            <img class="image1" src="characterImages/un_earth_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_earth_tank.png" alt="">
            <img class="image1" src="characterImages/un_fire_assassin.png" alt="">
            <img class="image1" src="characterImages/un_fire_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_fire_mage.png" alt="">
            <img class="image1" src="characterImages/un_light_assassin.png" alt="">
            <img class="image1" src="characterImages/un_light_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_light_mage.png" alt="">
            <img class="image1" src="characterImages/un_neutral_assassin_1.png" alt="">
            <img class="image1" src="characterImages/un_neutral_assassin_2.png" alt="">
            <img class="image1" src="characterImages/un_neutral_bruiser_1.png" alt="">
            <img class="image1" src="characterImages/un_neutral_bruiser_2.png" alt="">
            <img class="image1" src="characterImages/un_neutral_mage_1.png" alt="">
            <img class="image1" src="characterImages/un_neutral_tank_1.png" alt="">
            <img class="image1" src="characterImages/un_water_assassin.png" alt="">
            <img class="image1" src="characterImages/un_water_bruiser.png" alt="">
            <img class="image1" src="characterImages/un_water_tank.png" alt="">
        </div>

        <div class="dataGrid">
        </div>
                
    <script type="text/javascript" src="characterSelection.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>